$titleColor: rgb(0, 217, 255);

.cont-project {
  width: 100%;
  gap: 40px;
  transition: all 0.3s;
  padding: 10px;
  padding: 8rem 0 8rem 0;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
  
  }
  h3 {
    color: $titleColor;
  }
}
.cont-project main {
  width: 100%;
  background-color: rgb(0, 6, 70);
  border-radius: 25px;
  padding: 10px;
  border-top: 1.5px solid rgb(0, 140, 255);
  border-bottom: 1.5px solid rgb(0, 140, 255);

}
.cont-project h1 {
  text-align: center;
  font-family: "Poppins";
  letter-spacing: 2px;
  color: $titleColor;
  padding: 10px;
}
.cont-project ol {

width: 100%;
  img {
    width: 100%;
  }

  button {
    width: 100%;
    background-color: #103787;
    border: 1.5px solid rgb(0, 117, 212);
    color: #fff;
  }
  cursor: pointer;
  width: 30%;
  border: 1px solid rgb(0, 117, 212);
  text-align: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  padding-bottom: 10px;
  transition: all 0.4s;
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      font-size: 20px;
  }
}
.cont-project ol:hover {
  transform: scale(1.08);

}
.cont-project ol button:hover {
  background-color: #001c54;
}

hr {
  color: #103787;
}
@media (max-width: 600px) {


  .cont-project {
   
    ul {
     flex-direction: column;
     ol {
      width: 100%;
     }
    
    }
  
  }

}
