@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

.cont-outset {
  width: 100%;
  
  display: flex; 
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
   transition: all 0.3s;
 padding: 10px;

}
#photo {
width: 230px;
}
.text-out {
max-width: 500px;
padding-bottom: 10px;
border-top: 1.5px solid rgb(0, 117, 212);
border-bottom: 1.5px solid rgb(0, 117, 212);;
display: flex;
flex-direction: column;
gap: 10px;
border-radius: 9px;
padding: 0px 10px 0px 10px;
}
h1, h4 {
font-family: 'Poppins';
text-align: center;
letter-spacing: 3px;
}
.text-out h4 {
color: rgb(0, 117, 212);;;
}
.icons {

color: #fff;
font-size: 30px;
display: flex;
justify-content: space-evenly;
margin-top: 15px;
border-top: 1.5px solid rgb(0, 117, 212);;
border-bottom: 1.5px solid rgb(0, 117, 212);
border-radius: 9px;
padding: 10px 0 5px 0;

}
.icons ol:hover {
  transform: scale(1.2);
  color: #003db6;;
}
.icons ol {
transition: all 0.3s;
}
.icons ol ion-icon {
  position: static;
  z-index: 1;
}
@media (max-width: 600px) {
  #photo {
    width: 200px;
    display: none;
    }
    .cont-outset {
      gap: 10px;
      flex-direction: column;
   
    }
    .icons ion-icon {
      transform: none;
    }

} 