@tailwind base;
@tailwind components;
@tailwind utilities;
@import './header.scss';
@import './about.scss';
@import './tecno.scss';
@import './skills.scss';
@import './contact.scss';
@import './projects.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
font-family: 'Poppins', sans-serif;
background-color: #000000;
padding: 1rem 1.5rem 0 1.5rem;
overflow-x: hidden;

}
ion-icon {
    cursor: pointer;
    font-size: 2rem;
}

  .up-btn {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    font-size: 2rem;
    background-color: #000000;
    border-radius: 3.125rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #5340fa;
   cursor: pointer;
  }
  .up-btn:hover {
    background-color: #1e1572;
    ion-icon {
      animation: slideUp 1s infinite;
      position: absolute;
      left: 50%;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateX(-50%) translateY(60%);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
  .nav {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.4s;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    background-color: #000000;
    -webkit-box-shadow: 10px 6px 5px -10px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 6px 5px -10px rgba(0, 0, 0, 0.54);
    box-shadow: 10px 6px 5px -10px rgba(0, 0, 0, 0.54);
  }
  
  .nav div button {
    width: 90%;
    background-color: #01010F;
    color: #fff;
    font-family: 'poppins';
  }
  .butt .button-none {
    text-align: center;
    width: 2rem;
  }
  .menu button,
  .theme-cont button {
    background-color: #000000;
    border-radius: 0.5rem;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5340fa;
  }
  .menu button:hover {
    background-color: #1e1572;
    transform: scale(1.1);
  }
  .menu button {
    transition: all 0.1s;
  }
  .cont-menu {
    z-index: 999;
    position: fixed;
    top: 2rem;
    left: 2rem;
    transition: all 0.3s;
  }
  .cont-menu button:hover {
    background-color: #2b1f96;
    transform: scale(1.05);
  }
  .cont-menu button {
    transition: all 0.1s;
  }
  @media (max-width: 600px) {
  .cont-menu {
    display: none;
  }
  }
  .cont-menu {
    display: flex;
    justify-content: end;
    gap: 1rem;
    overflow-x: hidden;
    padding: 0.5rem;
    .cont-h {
        transition: all 0.25s;
    }
    .cont-h:hover {
       transform: scale(1.1);
    }
    li{
        width: 100%;
        max-width: 15rem;
        button {
            width: 100%;
        }
    }
}

.cont-effect {
  @apply  w-full cursor-pointer items-center justify-center rounded-3xl border border-[#6756fc] px-7 font-medium text-white backdrop-blur-3xl gap-2 pt-8 pb-8 ;

}

.slick-center {
 
  transition: all 0.4s;
}
.slider-container {
  transition: all 0.4s;

}
.slick-slide:not(.slick-center) {
  transform: scale(0.85); 
}
.menu-one {
  @apply  cont-h shadow__header relative inline-flex h-12 active:scale-95 overflow-hidden rounded-lg p-[1px] focus:outline-none

}
.menu-two {
  @apply  absolute inset-[-1000%]  bg-[conic-gradient(from_90deg_at_50%_50%,#5340fa_0%,#9972f4_50%,#6453ff_100%)]

}
.menu-three {
  @apply  button-none inline-flex h-full w-full cursor-pointer items-center justify-center rounded-lg bg-primary-bg px-7 text-sm font-medium text-white backdrop-blur-3xl gap-2 

}
.slick-center {
  transform: scale(1.2); 
}
@media (max-width: 768px) {
  .cont-menu {
    display: none;
  }
 
}