.cont-header {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 10px;
  border-radius: 25px;
  list-style: none;
  li button:hover {
    transform: scale(1.1);
    background-color: #001c54;
  }
  li {
    width: 100%;
    max-width: 10rem;
  }
  li button {
   width: 100%;
    background-color: #103787;
    border: 1.5px solid rgb(0, 117, 212);
    color: #fff;
    height: 3rem;
    transition: all 0.2s linear;
    font-family: 'poppins';
    font-size: 11px;
  }
}
