$titleColor: rgb(0, 217, 255);

@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

.cont-skill {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: all 0.3s;
  padding: 10px;
  padding: 8rem 0 8rem 0;
  main {
    width: 100%;
    background-color: rgb(0, 6, 70);
    border-radius: 25px;
    padding: 10px;
    border-top: 1.5px solid rgb(0, 140, 255);
    border-bottom: 1.5px solid rgb(0, 140, 255);
  }
}
.skill-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  padding: 20px;
  h1 {
    text-align: center;
    color: $titleColor;
  }
}
.list-skill {
  width: 100%;
  max-width: 40%; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  li:hover {
    transform: scale(1.25);
    color: $titleColor;
    cursor: pointer;
    transition: all 0.3s;
  }
  li {
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 15%;
    padding: 20px;
    border-radius: 10px;
    p {
      text-align: center;

      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    img {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {

  .list-skill {
   max-width: none;
   li {
    display: flex;
    width: 40%;
   }
  }
  
}