$titleColor: rgb(0, 217, 255);

@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

.skill-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  padding: 20px;
  background-color: rgb(0, 6, 70);
  border: 1px solid rgb(0, 140, 255);
  border-radius: 40px;
  margin: 10rem 0 10rem 0;
  h1 {
    text-align: center;
    color: $titleColor;
  }
}
.list-tech {
  width: 100%;
  max-width: 65rem; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  li:hover {
    transform: scale(1.25);
    color: $titleColor;
    cursor: pointer;
    transition: all 0.3s;
  }
  li {
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 12%;
    padding: 20px;
    border-radius: 10px;
    p {
      text-align: center;
      font-family: 'poppins'
    }
    img {
      width: 100%;
    }
  }
}
@media (max-width: 700px) {

  .list-tech {
   max-width: none;
   li {
    display: flex;
    width: 40%;
   }
  }
  
}